.convolution-editor {
    .matrix {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4px;

        max-width: 20rem;

        padding: 1rem;
        background: black;
        color: white;

        input {
            text-align: center;
            height: 3rem;
        }
    }

    canvas {
        display: block;
        margin: 0 auto;
    }
}
