.minide {
    & .code-editor {
        & .toolbar {
            display: grid;
            grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-column-gap: 0.125rem;
            padding: 0.25rem 0;

            button {
                margin: 0;
                padding-top: 0;
                padding-bottom: 0;
            }

            select {
                margin: 0;
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        & .stats {
            text-align: right;
            font-size: small;
        }

        & canvas {
            display: block;
            margin: 0 auto;
            overflow: scroll;
        }
    }

    & .terminal {
        display: flex;
        flex-flow: column nowrap;
        background: black;
        height: 12rem;
        color: white;

        & div.content {
            overflow-x: hidden;
            overflow-y: scroll;
            flex-grow: 1;
            font-family: monospace;
            font-size: 1rem;
            white-space: pre;

            & .stdout {
                color: green;
            }

            & .stderr {
                color: red;
            }
        }

        & input.terminal-input {
            background: white;
            color: black;
            margin: 0;
            border: 0;
            padding: 0;
            transition: background 0.5s ease-in-out;
        }

        & input.terminal-input:disabled {
            background: black;
        }
    }
}
